<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="product-image.jpg" alt="Product Image" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h1>Product Name</h1>
            <p class="price">$99.99</p>
            <p class="description">
                This is a detailed description of the product. It highlights the features and benefits of the product in a clear and concise manner.
            </p>
            <button class="btn btn-primary">Add to Cart</button>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <h2>Product Details</h2>
            <ul class="list-group">
                <li class="list-group-item">Feature 1</li>
                <li class="list-group-item">Feature 2</li>
                <li class="list-group-item">Feature 3</li>
                <li class="list-group-item">Feature 4</li>
            </ul>
        </div>
    </div>
</div>